{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

		<div class="row">
			<div class="col-12">
				<div class="section__header">
					<h2>{{ post.title }}</h2>
				</div>
			</div>
		</div>

		<section>
			<div class="container">
				<div class="row">

					{% if post.thumbnail %}
						<div class="col-xs-10 push-xs-1 col-md-7">
							{{ post.content }}
						</div>
						<div class="col-xs-10 push-xs-1 col-md-5">
							<img src="{{ post.thumbnail.src }}" class="img-fluid"/>
						</div>
					{% else %}
						<div class="col-10 push-1">
							{{ post.content }}
						</div>
					{% endif %}
				</div>
			</div>
		</section>

		{#{% include "page-modules.twig" %}#}

	</article>
{% endblock %}